/******************** Variables ********************/
:root {
    --font-family: "Mada", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --font-icon-free: "FontAwesome Free";
    --font-icon-brand: "FontAwesome Brand";

    --font-size-3xl: 4rem;
    --font-size-2xl: 4rem;
    --font-size-xl: 2rem;
    --font-size-lg: 1.6rem;
    --font-size-md: 1.4rem;
    --font-size-sm: 1.2rem;
    --font-size-xs: 1rem;

    /* Colores */
    --neutral-50: #fafafa;
    --neutral-100: #e8e8e8;
    --neutral-200: #d2d2d2;
    --neutral-400: #a5a5a5;
    --neutral-700: #727272;

    --bermellon-50: #fbefee;
    --bermellon-100: #f7dedc;
    --bermellon-200: #f0beba;
    --bermellon-400: #e17d75;
    --bermellon-500: #d95c52;
    --bermellon-700: #ae4a42;

    --esmeralde-50: #ecfdf5;
    --esmeralde-100: #d1fae5;
    --esmeralde-200: #a7f3d0;
    --esmeralde-400: #34d399;

    --amber-50: #fffbeb;
    --amber-100: #fef3c7;
    --amber-200: #fde68a;
    --amber-400: #fbbf24;

    --france-50: #eaf4fd;
    --france-100: #d5e8fa;
    --france-200: #acd1f5;
    --france-400: #59a4ec;

    --grayDark-50: #92949a;
    --grayDark-100: #7c7f85;
    --grayDark-200: #666971;
    --grayDark-300: #51545d;
    --grayDark-400: #3b3e48;
    --grayDark-500: #252934;
    --grayDark-800: #1a1d24;
    --grayDark\/20: #25293433;
    --grayDark\/80: #252934cc;
}
/******************** Presets ********************/
* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}
body {
    font-family: var(--font-family);

    font-size: var(--font-size-md);
    line-height: 1.5;
    margin: 0;
}
main {
    display: block;
}
header {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
h1,
h2,
h3,
h4 {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a,
a:visited {
    text-decoration: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    color: inherit;
}
img {
    width: 100%;
    user-select: none;
    border-style: none;
}
p {
    margin: 0;
}
/******************** Componentes ********************/
/* Botones */
.btn:visited,
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.375em 0.75em;
    border-radius: 0.6rem;
    gap: 0.4em;
    transition: background-color 0.3s;
}
.btn__icon {
    width: 1.4rem;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
}
.btn--primary:visited,
.btn--primary {
    background-color: var(--bermellon-500);
    color: var(--bermellon-50);
}
.btn--primary:hover {
    background-color: var(--bermellon-700);
}
.btn--secondary:visited,
.btn--secondary {
    background-color: var(--grayDark-400);
    color: var(--bermellon-50);
}
.btn--secondary:hover {
    background-color: var(--grayDark-500);
}
.btn--icon:visited,
.btn--icon {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    border: 1px solid var(--bermellon-500);
    color: var(--bermellon-50);
    background-color: transparent;

    transition: background-color 0.3s;
}
.btn--icon:hover {
    background-color: var(--bermellon-500);
}

@media screen and (min-width: 1024px) {
    .btn--icon {
        width: 4rem;
        height: 4rem;
    }
}
/* Titulos */
.title {
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    line-height: 1.2;
    font-weight: 700;
    color: var(--grayDark-400);
    gap: 1.2rem;
    max-width: 50rem;
    text-shadow: 0.5rem 1rem 0 var(--amber-200);
}
.title::after,
.title::before {
    content: "";
    color: transparent;
    background-color: var(--amber-400);
    width: 100%;
    height: 0.2rem;
    flex-grow: 1;
    border-radius: 0.2rem;
}
.title__text {
    white-space: nowrap;
    text-align: center;
    font-size: var(--font-size-xl);
}
/* Scroll */
.scroll {
    --bg-track: var(--neutral-400);
    --bg-thumb: transparent;
}
.scroll::-webkit-scrollbar {
    width: 1rem;
    /* height: 1rem; */
}
.scroll::-webkit-scrollbar-button {
    display: none;
}
.scroll::-webkit-scrollbar-track {
    background-color: var(--bg-thumb);
}
.scroll::-webkit-scrollbar-track-piece {
    background-color: var(--bg-thumb);
}
.scroll::-webkit-scrollbar-thumb {
    background-color: var(--bg-track);
    cursor: pointer;
}
.scroll::-webkit-scrollbar-corner {
    background-color: var(--bg-thumb);
}
/* Tags */
.tag {
    font-size: var(--font-size-sm);
    border: 1px solid var(--grayDark\/20);
    color: var(--grayDark-100);
    padding: 0.1em 0.75em 0.1em 0.5em;
    border-radius: 1.6rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.tag::before {
    content: "";
    width: 1.6rem;
    height: 1.6rem;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
}
.figma::before {
    background-image: url("../assets/icons/Figma-min.png");
}
.html5::before {
    background-image: url("../assets/icons/html5-min.png");
}
.css3::before {
    background-image: url("../assets/icons/css3-min.png");
}
.sass::before {
    background-image: url("../assets/icons/sass-min.png");
}
.javascript::before {
    background-image: url("../assets/icons/javascript-min.png");
}
.mongodb::before {
    background-image: url("../assets/icons/mongodb-min.png");
}
.express::before {
    background-image: url("../assets/icons/express-min.png");
}
.react::before {
    background-image: url("../assets/icons/react-min.png");
}
.nodejs::before {
    background-image: url("../assets/icons/nodejs-min.png");
}
.mysql::before {
    background-image: url("../assets/icons/mysql-min.png");
}
@media screen and (min-width: 1024px) {
    :root {
        --font-size-3xl: 8rem;
        --font-size-2xl: 5rem;
        --font-size-xl: 2.8rem;
        --font-size-lg: 2rem;
        --font-size-md: 1.6rem;
        --font-size-sm: 1.4rem;
        --font-size-xs: 1.2rem;
    }
}

/******************** Tema ********************/
.section {
    position: relative;
    top: 0;
}
.container {
    margin: 0 auto;
    padding: 3rem 2rem;
    gap: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    max-width: 1024px;
}
/* navbar */
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6rem;
    display: flex;
    background-color: var(--grayDark-500);

    z-index: 100;
}
.nav__container {
    max-width: 30rem;
    display: flex;
    padding: 0;
    margin: 0 auto;
    gap: 0;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.nav__brand,
.nav__contact {
    display: none;
}
.nav__navbar {
    display: flex;
    position: relative;
    height: 100%;
}
.nav__item {
    width: 7.5rem;
}
.nav__link:visited,
.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--neutral-50);
    font-size: var(--font-size-sm);
    gap: 0.6rem;
}
.nav__text {
    transition: color 0.5s 0.15s;
}
.nav__icon {
    transition: transform 0.5s, color 0.5s, fill 0.5s;
    width: 1.6rem;
    height: auto;
    display: flex;
    justify-content: center;
    fill: var(--bermellon-50);
}
.nav__item--active .nav__icon {
    transform: translateY(-1.8rem) scale(1.3);
    color: var(--bermellon-500);
    fill: var(--bermellon-500);
}
.nav__active {
    --width: 0;
    --translateX: 0;

    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: var(--neutral-50);
    border: 0.5rem solid var(--grayDark-500);
    border-radius: 50%;
    z-index: -1;
    left: 1.25rem;
    transform: translateX(var(--translateX));
    bottom: 3.5rem;
    transition: transform 0.5s, width 0.5s;
}
.nav__active::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 5px;
    left: -17px;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 5px 0 1px var(--grayDark-500);
}
.nav__active::after {
    transform: rotate(-2deg);
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: transparent;

    top: 5px;
    right: -17px;
    border-bottom-right-radius: -5px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 8px 0 0 var(--grayDark-500);
}
/* banner */
.banner {
    min-height: 100vh;
    background-image: linear-gradient(200deg, #1c1f25 0%, #414552 48.49%, #343436 100%);
    background-attachment: fixed;
    display: flex;
    align-items: center;
}
.banner__container {
    height: 100%;
}
.banner__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
}
.banner__social {
    display: flex;
    gap: 1.2rem;
}
.banner__separator {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-100);
    gap: 0.6rem;
}
.banner__separator::before,
.banner__separator::after {
    content: "";
    display: inline-block;
    width: 0.6rem;
    height: 0.1rem;
    background-color: var(--bermellon-200);
}
.banner__action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}
.banner__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    color: var(--neutral-50);
    text-align: center;
}
.banner__heading {
    font-size: var(--font-size-xl);
    font-weight: 500;
}
.banner__profession {
    font-size: var(--font-size-3xl);
    font-weight: 900;
    line-height: 1;
}
.banner__profession span {
    display: block;
    color: var(--bermellon-400);
}
.banner__me {
    width: 25rem;
}
/* Projects */
.projects__message {
    max-width: 45rem;
    text-align: center;
    color: var(--grayDark-100);
    transform: translateY(-1rem);
    font-size: var(--font-size-md);
    font-weight: 500;
}
.projects__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    height: 100%;
    position: relative;
    justify-items: center;
    width: 100%;
}
.project {
    position: relative;
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--neutral-200);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    text-align: center;
}
.project:nth-last-child(1) {
    border-bottom: 0;
}
.project__header {
    display: block;
    max-width: 30rem;
}
.project__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: transform 0.6s;
}
.project__image:hover {
    transform: scale(1.05);
}
.project__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    color: var(--grayDark-400);
}
.project__live {
    display: inline-flex;
    padding: 0 0.6rem;
    border-radius: 0.6rem;
    border: 1px solid var(--esmeralde-400);
    color: var(--esmeralde-400);
    font-weight: 400;
    background-color: var(--esmeralde-50);
}
.project__description {
    color: var(--grayDark-200);
}
.project__tag {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}
.project__footer {
    display: flex;
    gap: 1rem;
}
/* Services */
.services {
    background-color: var(--neutral-50);
}
.services__about {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.services__about-picture {
    position: relative;
    width: 25rem;
    height: 10.32rem;
    display: flex;
    z-index: 10;
}
.services__about-image {
    position: absolute;
    /* height: 100%; */
}
.services__about-content {
    position: relative;
    border: 1px solid var(--neutral-100);
    background-color: #fff;
    border-radius: 0.6rem;
    padding: 3.6rem 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    width: 100%;
}
.services__about-content::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2rem;
    background-color: #000;
    bottom: -0.5rem;
    z-index: -1;
    border-radius: 50%;
    filter: blur(1rem) opacity(0.2);
}
.services__about-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    text-align: center;
    color: var(--neutral-700);
    max-width: 40rem;
}
.services__about-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.services__about-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    color: var(--grayDark-100);
    font-size: var(--font-size-sm);
}
.services__about-icon {
    font-size: var(--font-size-xl);
}
.services__about-text {
    text-align: center;
}
.services__about-tecnologies {
    margin: 0 auto;
    display: inline-grid;
    grid-template-columns: repeat(5, 4rem);
    gap: 1.2rem;
}
.services__about-tecnology {
    padding: 0.6rem;
    background-color: var(--neutral-100);
    border-radius: 0.6rem;
    opacity: 0.7;
}

.services__professions {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    gap: 2rem;
    width: 100%;
}
.services__profession {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.6rem;
    padding: 2.4rem 1.2rem;
    background-color: var(--neutral-50);
    border: 1px solid var(--neutral-200);
    border-radius: 0.6rem;
    text-align: center;
    color: var(--grayDark-100);
}
.services__image {
    width: 9.6rem;
}
.services__title {
    color: var(--grayDark-300);
}
.services__footer,
.services__detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    padding: 0.6rem;
    max-width: 30rem;
}
.services__question {
    color: var(--bermellon-500);
    font-weight: 700;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    gap: 1rem;
    background-color: var(--grayDark-800);
    margin-bottom: 6rem;
}
@media screen and (min-width: 576px) {
    .container {
        padding: 4rem;
        max-width: 55rem;
    }
    .banner__profession span {
        display: inline-block;
    }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
    .banner__container {
        justify-content: center;
        height: 70rem;
    }
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 70rem;
    }
    .banner__container {
        flex-direction: row-reverse;
        height: 60rem;
        padding-bottom: 7rem;
    }
    .banner__description {
        height: 40rem;
    }
    .banner__title,
    .banner__description {
        align-items: flex-end;
    }
    .banner__profession {
        text-align: right;
    }
    .banner__title,
    .banner__action {
        justify-content: flex-end;
    }
    .nav__container {
        max-width: 30rem;
        padding: 0;
    }
    .project {
        display: grid;
        grid-template-columns: max-content 1fr;
        text-align: left;
        row-gap: 0;
        padding: 4rem 0;
    }
    .project__header {
        grid-row: 1/ 3;
    }
    .project__content {
        align-items: flex-start;
    }
    .project__tag {
        justify-content: flex-start;
    }
}
@media screen and (min-width: 1024px) {
    .lg-hidden{
        display: none;
    }
    .projects__container {
        padding: 8rem 4rem;
    }
    .container {
        max-width: 102.4rem;
        gap: 4.8rem;
    }
    .nav__container {
        max-width: 1024px;
    }

    .banner {
        padding-top: 8rem;
        background-image: linear-gradient(180deg, #16191f 0%, #3b3e48 30%, #16191f 100%);
    }
    .banner__container {
        gap: 14rem;
    }
    .banner__description {
        gap: 2.4rem;
    }
    .banner__action {
        display: flex;
        gap: 0.6rem;
    }
    .banner__me {
        width: 35rem;
    }

    .nav {
        bottom: unset;
        top: 0;
        height: 8rem;
        border-bottom: 1px solid var(--grayDark-400);
    }
    .nav__container {
        width: 100%;
        gap: 2.4rem;
        padding: 0 4rem;
    }
    .nav__brand,
    .nav__contact {
        display: flex;
    }
    .nav__brand {
        width: 17rem;
    }
    .nav__navbar {
        flex-grow: 1;
        align-items: center;
        height: unset;
    }
    .nav__item {
        width: auto;
        height: auto;
    }
    .nav__link {
        padding: 0.6rem 1.2rem;
        flex-direction: row;
        font-weight: 500;
    }
    .nav__text {
        transition: color 0.5s;
    }
    .nav__icon {
        transition: color 0.5s;
    }
    .nav__item--active .nav__text {
        color: var(--bermellon-500);
    }
    .nav__item--active .nav__icon {
        transform: translateY(0) scale(1);
    }
    .nav__active {
        position: absolute;
        width: var(--width);
        height: 4rem;
        left: 0;
        background-color: var(--neutral-50);
        border: none;
        border-radius: 5rem;
        top: -0.3rem;
        bottom: unset;
    }

    .banner,
    .projects,
    .services {
        scroll-margin-top: 4rem;
    }
    .services__container {
        padding: 8rem 4rem;
        gap: 4.8rem;
    }
    .services__about {
        gap: 2.4rem;
        flex-direction: row;
    }
    .services__about-picture {
        width: 40rem;
        height: auto;
    }
    .services__about-image {
        position: relative;
        /* height: 100%; */
    }
    .services__about-content {
        flex-direction: row;
        justify-content: center;
    }
    .services__about-description {
        max-width: 25rem;
    }
    .services__professions {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: min-content;
    }
    .footer{
        margin-bottom: 0;
    }
}
