/* Botones */
.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .375em .75em;
    border-radius: .6rem;
    gap: .4em;
    transition: background-color .3s;
}
.btn-primary{
    background-color: var(--bermellon-500);
    color: var(--bermellon-50);
}
.btn-primary:hover{
    background-color: var(--bermellon-700);
}
.btn-secondary{
    background-color: var(--grayDark-400);
    color: var(--bermellon-50);
}
.btn-secondary:hover{
    background-color: var(--grayDark-500);
}
.btn-icon{
    width: 3.6rem;
    height: 3.6rem;
    border-radius:  50%;
    border: 1px solid var(--bermellon-500);
    color: var(--bermellon-50);
    background-color: transparent;

    transition: background-color .3s;
}
.btn-icon:hover{
    background-color: var(--bermellon-500);
}

@media screen and (min-width: 1024px) {
    .btn-icon{
        width: 4rem;
        height: 4rem;
    }    
}
/* Titulos */
.title{
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    line-height: 1.2;
    font-weight: 700;
    color: var(--grayDark-400);
    gap: 1.2rem;
    max-width: 50rem;
    text-shadow: .5rem 1rem 0 var(--amber-200);
}
.title::after,
.title::before{
    content: '';
    color: transparent;
    background-color: var(--amber-400);
    width: 100%;
    height: .2rem;
    flex-grow: 1;
    border-radius: .2rem;
}
.title__text{
    white-space: nowrap;
    text-align: center;
    font-size: var(--font-size-xl);
}
/* Scroll */
/* Barras de fondo - Dark*/
.scroll{
    --bg-track: var(--neutral-400);
    --bg-thumb: transparent;
}
.scroll::-webkit-scrollbar{
    width: 1rem;
    /* height: 1rem; */
}
/* Botones para desplazamiento */
.scroll::-webkit-scrollbar-button{
    display: none;
}
/*Muestra todo el trak de la barra desplazamiento*/
.scroll::-webkit-scrollbar-track{
    background-color: var(--bg-thumb);
}
.scroll::-webkit-scrollbar-track-piece{
    background-color: var(--bg-thumb);
}
.scroll::-webkit-scrollbar-thumb{
    background-color: var(--bg-track);
    cursor: pointer;
}
.scroll::-webkit-scrollbar-corner{
    background-color: var(--bg-thumb);
}

/* Tags */
.tag{
    font-size: var(--font-size-sm);
    background-color: var(--grayDark-400);
    border: 1px solid var(--grayDark-100);
    padding: .1em .75em .1em .5em;
    border-radius: 1.6rem;
    display: flex;
    align-items: center;
    gap: .3rem;
}
.tag::before{
    content: '';
    width: 1.6rem;
    height: 1.6rem;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
}
.figma::before{
    background-image: url('../assets/Figma-min.png');
}
.figma::after{
    content: 'figma';
}
.html5::before{
    background-image: url('../assets/html5-min.png');
}
.html5::after{
    content: 'html5';
}
.css3::before{
    background-image: url('../assets/css3-min.png');
}
.css3::after{
    content: 'css3';
}
.javascript::before{
    background-image: url('../assets/javascript-min.png');
}
.javascript::after{
    content: 'javascript';
}
.wordpress::before{
    background-image: url('../assets/wordpress-min.png');
}
.wordpress::after{
    content: 'wordpress';
}
.mongodb::before{
    background-image: url('../assets/mongodb-min.png');
}
.mongodb::after{
    content: 'mongodb';
}
.express::before{
    background-image: url('../assets/express-min.png');
}
.express::after{
    content: 'express';
}
.react::before{
    background-image: url('../assets/react-min.png');
}
.react::after{
    content: 'react';
}
.nodejs::before{
    background-image: url('../assets/nodejs-min.png');
}
.nodejs::after{
    content: 'nodejs';
}
.mysql::before{
    background-image: url('../assets/mysql-min.png');
}
.mysql::after{
    content: 'mysql';
}
