:root{
    --font-size-2xl: 2.8rem;
    --font-size-xl: 2rem;
    --font-size-lg: 1.6rem;
    --font-size-md: 1.4rem;
    --font-size-sm: 1.2rem;
    --font-size-xs: 1rem;

    /* Colores */
    --neutral-50: #FAFAFA;
    
    --bermellon-50: #FBEFEE;
    --bermellon-500: #D95C52;
    --bermellon-700: #AE4A42;

    --grayDark-400: #3B3E48 ;
    --grayDark-500: #252934;
}

@media screen and (min-width: 1024px) {
    :root{
        --font-size-2xl: 3.2rem;
        --font-size-xl: 2.4rem;
        --font-size-lg: 2rem;
        --font-size-md: 1.6rem;
        --font-size-sm: 1.4rem;
        --font-size-xs: 1.2rem;
    }    
}